body{
  background-image: linear-gradient(to right, #10d9a1, #00bfcd, #009fff, #0074ff, #3312eb);
}
.headContainer{
  width: 500px;
  margin-bottom: 30px;
}
input{
  margin-right: 10px;
  padding: 5px;
}